# ============================
# SmartNotes Gitignore (fixed)
# ============================

# Allow checkpoints inside src/model
!src/model/checkpoints/
!src/model/checkpoints/.gitkeep

# IGNORE ONLY TOP-LEVEL checkpoints folder
/checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Datasets
datasets/
data/
*.pth
*.pt
*.h5

# Logs
logs/
*.log
*.csv
*.npy
*.npz

# IDE / system
.DS_Store
.vscode/
.idea/

# Local testing images
preprocessing/test_images/
